:root {
  --huckleberry-ping-success-color: #00ae4e;
  --huckleberry-ping-warning-color: #f1c40f;

  --mdc-theme-primary: #0087ff;
  --mdc-theme-secondary: #03dac5;
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fafafa;
  --mdc-theme-error: #e74c3c;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-on-error: #fff;
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5);
}

@font-face {
  font-family: "Circular";
  src: local("Circular"), url("./media/CircularStd-Book.woff") format("woff");
}

body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  line-height: 1.5;
  font-family: "Circular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.styled-hyperlink {
  color: var(--mdc-theme-primary);
  text-decoration: underline;
}

/* React Material Web Components */

.mdc-notched-outline.mdc-notched-outline--upgraded.mdc-notched-outline--notched {
  padding: 5px;
}

.mdc-button {
  text-transform: lowercase;
}

/* Toastify */

.Toastify__toast-container {
  width: 320px;
}

.toastify-with-app-bar {
  padding-top: 0;
  margin-top: 64px;
}
.Toastify__toast {
  padding-left: 20px;
}
.Toastify__toast--default {
  background: var(--mdc-theme-background);
  color: var(--mdc-theme-primary);
}
.Toastify__toast--info {
  background: var(--mdc-theme-primary);
}
.Toastify__toast--success {
  background: var(--huckleberry-ping-success-color);
}
.Toastify__toast--warning {
  background: var(--huckleberry-ping-warning-color);
}
.Toastify__toast--error {
  background: var(--mdc-theme-error);
}
