.billing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  min-height: 600px;
}

.billing > div {
  min-height: 300px;
}

.billing > div > * {
  margin: 20px 0;
}
