.account-container {
  flex-direction: column;
  padding: 10vh 5vw 10vh 5vw;
  min-width: 500px;
  min-height: 900px;
}

.configuration-container {
  display: flex;
  flex-direction: column;
}

.save-changes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 50vw;
}
