.register-account-container {
  display: flex;
  flex-direction: column;
  padding: 10vh 20vw;
}

.register-account-create-container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: space-between;
  padding: 10vh 2vw;
}

.register-account-create-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-account-stripe {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.35);
  padding: 18px;
}

.register-account-login-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}
