.color-field-button {
  min-width: 0;
  width: 65px;
  height: 65px;
}

.color-field-popover {
  position: absolute;
  z-index: 2;
  margin-top: 10px;
}
.color-field-cover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
