.update-widget-form {
  display: flex;
  flex-direction: column;
}

.update-widget-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.update-widget-info {
  width: 48%;
  min-width: 300px;
}

.update-widget-info > * {
  margin: 40px 0;
}

.update-widget-info .update-widget-verified {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.update-widget-info .update-widget-verified i {
  margin-left: 20px;
  background: var(--huckleberry-ping-success-color);
  border-radius: 100px;
  padding: 4px;
}

.update-widget-fields {
  display: flex;
  flex-direction: column;
  width: 48%;
  min-width: 300px;
}

.update-widget-fields > * {
  margin: 20px 0;
}

.update-widget-fields .update-widget-enabled {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.update-widget-fields .update-widget-enabled label {
  font-weight: bold;
  font-size: 18px;
  margin-right: 15px;
}

.update-widget-fields .update-widget-country-phone {
  display: flex;
  flex-direction: row;
}

.update-widget-fields .update-widget-country-phone .update-widget-country {
  flex: 0 0 10px;
  margin-right: 5px;
}

.update-widget-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0;
}

@media only screen and (max-width: 900px) {
  .update-widget-inner {
    flex-direction: column;
  }
  .update-widget-info,
  .update-widget-fields {
    width: 100%;
  }
}
