.icon-field-button {
  min-width: 0;
  width: 65px;
  height: 65px;
}

.icon-field-button.selected {
  box-shadow: 0 3px 0 0 var(--mdc-theme-secondary);
}

#mo path {
  stroke-width: 10;
}

#mo #ping-text {
  stroke: none;
}

#mo #phone-outline {
  fill: none;
  stroke-width: 10;
}
