.icon-field > * {
  min-width: 0;
  width: 65px;
  height: 65px;
}

.icon-field > * {
  border: grey 1px solid;
}

.icon-field > *:not(.selected) {
  filter: grayscale();
}

.icon-field > *.selected {
  box-shadow: 5px 5px 0 0 rgb(172, 166, 166, 0.4);
  transform: scale(1.1);
  filter: brightness(1.1);
}

#mo path {
  stroke-width: 10;
}

#mo #ping-text {
  stroke: none;
}

#mo #phone-outline {
  fill: none;
  stroke-width: 10;
}
