.country-field {
  border-radius: 5px;
  border: solid 1px var(--mdc-theme-text-hint-on-light);
  height: 50px;
  width: 100%;
}

.country-field .flag-select {
  width: 100%;
  height: 100%;
  padding: 0;
  padding-left: 4px;
}

.country-field .arrow-down {
  display: none;
}

.country-field .flag-select .selected--flag--option {
  font-size: 18px !important;
  margin: 8px 5px 0 0;
}

.country-field .flag-select .flag-options {
  position: absolute;
  overflow-x: hidden;
  border: 1px solid var(--mdc-theme-text-hint-on-light);
  border-radius: 5px;
  left: 0;
  right: 4px;
  min-width: 200px;
  max-height: 160px;
  margin-top: 24px;
}

.country-field .flag-select .flag-options .filterBox {
  display: flex;
  font-size: 24px;
  width: 100%;
}

.country-field .flag-select .flag-options .filterBox input {
  align-items: center;
  font-size: 18px;
  width: 100%;
  height: 25px;
  margin: -1px;
}

.country-field .flag-select .flag-options .flag-option {
  padding: 5px 10px 9px 10px;
}
