.landing-page-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.secondary-underline {
  border-bottom: 0.2em solid var(--mdc-theme-secondary);
}

.landing-page-container > h1 {
  max-width: 50vw;
}

.landing-page-header > a > img {
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.landing-page-header > div {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  top: 20px;
  right: 20px;
}

.landing-page-above-fold {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 18vh 10vw 18vh 10vw;
  min-height: 180vh;
}

.landing-page-above-fold .button-image {
  height: 100px;
  margin: 40px 0;
}
.landing-page-above-fold .illustration {
  max-height: 75vh;
  max-width: 100%;
}

.landing-page-section-one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10vh 10vw;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

.landing-page-grid {
  display: flex;
  padding-top: 5vh;
}

@media only screen and (max-width: 900px) {
  .landing-page-grid {
    flex-direction: column;
  }
}

.landing-page-grid-item {
  padding: 20px;
  flex-basis: 100%;
}

.checkmark-image {
  height: 68px;
  margin-bottom: 20px;
}

.landing-page-section-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 10vw 5vh 10vw;
}

.landing-page-section-two h3 {
  color: var(--mdc-theme-primary);
}

.landing-page-section-three {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5vh 10vw 10vh 10vw;
}

.landing-page-section-three h3 {
  color: var(--mdc-theme-primary);
}

.landing-page-section-four {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 10vh 10vw;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

.feature-image {
  height: 130px;
  margin-bottom: 20px;
}

.landing-page-section-five {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 10vw;
}

.landing-page-section-five-text {
  text-align: center;
  margin: 5vh 0;
}

.landing-page-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  min-height: 400px;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

.landing-page-footer > div {
  flex-basis: 100%;
}

@media only screen and (max-width: 900px) {
  .landing-page-footer {
    flex-direction: column;
    padding: 5vh 5vw;
  }
  .landing-page-footer > div {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .landing-page-header > div {
    flex-direction: column-reverse;
    width: auto;
    height: 100px;
  }
}

.landing-page-footer img {
  height: 50px;
  width: 50px;
}
