.create-account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  height: 550px;
}

.create-account-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-account-container > p {
  color: var(--mdc-theme-text-hint-on-light);
}
