.widgets-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.widgets-controls {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.widgets-controls p {
  color: var(--mdc-theme-text-hint-on-light);
}

.widgets-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.widgets-grid > a {
  margin: 10px;
}

.new-widget-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 100%;
  min-height: 18rem;
}

.new-widget-button {
  width: 75%;
  height: 75%;
  border: 2px dashed;
}

@media only screen and (max-width: 1050px) {
  .widgets-grid {
    justify-content: center;
  }
}
