.create-widget-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
}

.create-widget-fields {
  display: flex;
  flex-direction: column;
  height: 50%;
}

.create-widget-country-phone {
  display: flex;
  flex-direction: row;
}

.create-widget-country {
  flex: 0 0 10px;
  margin-right: 5px;
}

.create-widget-inputs > * {
  margin: 20px 0;
}

.create-widget-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
}

@media only screen and (max-width: 900px) {
  .create-widget-submit-button {
    align-self: center;
    width: 100%;
  }
}
